<head>
  <title>stock</title>
</head>

<body>
  {{> searchBox}}
</body>

<template name="searchBox">
  <!-- {{#contentFor "headerButtonRight"}}
    <button class="button button-clear pull-left button-positive">
      {{> ionIcon icon='ios-search'}}
    </button>
  {{/contentFor}} -->
  {{#contentFor "headerTitle"}}
    <h1 class="title">股神</h1>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
    <div class="list">
      <div class="item item-input-inset">
        <label class="item-input-wrapper">
          {{> ionIcon icon="ios-search" class="placeholder-icon"}}
          {{> esInput index="stocks" placeholder="输入股票代码搜索股票" }}
        </label>
      </div>
    </div>

    {{#ionList}}
      {{#esEach index="stocks"}}
        {{> stockItem}}
      {{/esEach}}
    {{/ionList}}
    {{/ionContent}}
  {{/ionView}}

</template>

<template name="_stockItem">
  {{#with stock}}
    {{#ionItem iconLeft=true iconRight=true}}
      {{> _voteButton}}
      <h2>{{code}} {{name}}</h2>
      <p>
        {{value}}
      </p>
      <span class="comments-count">
        {{numberOfComments}}
        {{> ionIcon icon="ios-chatbubble" }}
      </span>
    {{/ionItem}}
  {{/with}}
</template>
