// Ionic
@import '.meteor/local/build/programs/server/assets/packages/meteoric_ionic-sass/ionic';
@import '.meteor/local/build/programs/server/assets/packages/meteoric_ionicons-sass/ionicons';

.stock-stats {
  font-size: 12px;
  width: 200px;
  text-align: right;
  position: absolute;
  top: 50%;
  margin-top: -10px;
  right: 16px;
  color: #999999;

  .icon {
    font-size: 16px;
    font-size: 16px;
    position: static;
    display: inline;
    color: #cccccc;

    &:before {
      display: inline;
    }
  }
}
